body {
  text-align: center;
  width: 80%;
  float: right;
  margin: 0;
}

header {
  padding: 2%;
  background-color: rebeccapurple;
  color: white;
}

li {
  display: inline-block;
  margin: 10px;
}

.menu {
  width: 20%;
  background-color: grey;
  height: 100vh;
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;
  padding-top: 15%;
  color: white;
}

.menu ul {
  padding: 0;
}

.selection {
  display: block;
  font-size: 1.5em;
  margin: 10%;
}

.selection:hover {
  background-color: white;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.skill {
  width: 60%;
  margin: 10px auto;
  border: 4px solid paleturquoise;
  border-radius: 1%;
}

.skill img{
  max-width: 100px;
}

.skill h1 {
  background-color: turquoise;
  margin: 0;
  padding: 10%;
  color: white;
}


.skill li {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  width: 20%;
}

.profile {
  padding: 4%;
  font-size: 1.1em;
  max-width: 92%;
  margin: 0 auto;
}

.profile img {
  max-width: 15%;
}

.profile h2 {
  margin: 0;
}

.profile span {
  font-size: 1.5em;
}

.profile p {
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 1.5em;
  text-align: justify;
}

.timeline {
  width: 90%;
  margin: 0 auto;
}

.timeperiod {
  margin-top: 10%;
  background-color: turquoise;
  padding: 5%;
  font-weight: bolder;
}

.timeperiod label {
  margin-right: 10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.box-style {
  border: 1px solid turquoise;
  margin-top: 10px;
}

.box-style h1 {
  margin-top: 0;
  padding: 1%;
  background-color: turquoise;
  color: snow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.components {
  width: 98%;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 2em;
  color: snow;
  background-color: darkturquoise;
}

.components h1 {
  background-color: transparent;
}

.components li {
  border: 2px solid paleturquoise;
  padding: 10px;
  max-width: 21%;
  vertical-align: middle;
  height: 75px;
}

.contact {
  margin-top: 4%;
}
